.admin__menu .item-base.parent.level-0 > a:before {
    content: '';
    background: url('@{baseDir}Nar_AIContentGenerator/images/nar_logo_admin.png') no-repeat center center;
    background-size: cover;
}

.admin__page-nav._collapsed.nar-tab .title,
.admin__page-nav._collapsed._show.nar-tab .title {
    background-image: url('@{baseDir}Nar_AIContentGenerator/images/nar_logo_admin.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    text-indent: 45px;
}
